{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} Nexus Publication</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
        integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
    <link href="nexus_pub/static/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="/static/nexus_pub/styles.css" rel="stylesheet">
        
    {% block head %}{% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light py-3 border-bottom align-items-center mb-4 mb-lg-1">
        <div class="container">
            <a class="navbar-brand fw-bolder fs-5" href="{% url 'index' %}">Nexus Games</a>
            <div class="d-flex align-items-center">
                <button class="navbar-toggler border-0 shadow-none" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav justify-content-between">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}"><i class="bi bi-house pe-2"></i>Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'world_news' %}"><i class="bi bi-globe pe-2"></i>World News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'games' %}"><i class="bi bi-table pe-2"></i>Games</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
      </div>

    <main class="content">
        {% block body %}

        {% endblock %}
    </main>

    <footer class="bg-light text-center py-3">
      <p class="mb-0">© {% now "Y" %} Nexus Publication. All rights reserved.</p>
      <p class="mb-0">Designed and developed by <a class="fw-bold text-reset" href="https://github.com/jnale-hub">John Mark Delima</a></p>
  </footer>    
</body>

</html>